In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [2]:
test_data = pd.read_csv('../../req_data/credit_card_default_test.csv')
train_data = pd.read_csv('../../req_data/credit_card_default_train.csv')
combine = [train_data, test_data]
encoder= LabelEncoder()

In [3]:
def my_fun(x):
    if (x[-1] =='K'):
        x=0
    else:
        x= 1
    return x

In [4]:
for dataset in combine:    
    dataset['Balance_Limit_V1']= dataset['Balance_Limit_V1'].apply(lambda x: my_fun(x))
    dataset['PAYMENT_DELAY']= dataset['PAY_JULY']+dataset['PAY_AUG']+dataset['PAY_SEP']+dataset['PAY_OCT']+dataset['PAY_NOV']+dataset['PAY_DEC']
    dataset['DUE_6_MONTHS']= dataset['DUE_AMT_JULY']+dataset['DUE_AMT_AUG']+dataset['DUE_AMT_SEP']+dataset['DUE_AMT_OCT']+dataset['DUE_AMT_NOV']+dataset['DUE_AMT_DEC']
    dataset['PAID_6_MONTHS']= dataset['PAID_AMT_JULY']+dataset['PAID_AMT_AUG']+dataset['PAID_AMT_SEP']+dataset['PAID_AMT_OCT']+dataset['PAID_AMT_NOV']+dataset['PAID_AMT_DEC']
    dataset['REMAINING_DUE']=dataset['DUE_6_MONTHS']- dataset['PAID_6_MONTHS']
    
#     dataset['DIFF_JULY']=dataset['DUE_AMT_JULY']-dataset['PAID_AMT_JULY']
#     dataset['DIFF_AUG']=dataset['DUE_AMT_AUG']-dataset['PAID_AMT_AUG']
#     dataset['DIFF_SEP']=dataset['DUE_AMT_SEP']-dataset['PAID_AMT_SEP']
#     dataset['DIFF_OCT']=dataset['DUE_AMT_OCT']-dataset['PAID_AMT_OCT']
#     dataset['DIFF_NOV']=dataset['DUE_AMT_NOV']-dataset['PAID_AMT_NOV']
#     dataset['DIFF_DEC']=dataset['DUE_AMT_DEC']-dataset['PAID_AMT_DEC']

    dataset['Gender']=encoder.fit_transform(dataset['Gender'])
    dataset['EDUCATION_STATUS']=encoder.fit_transform(dataset['EDUCATION_STATUS'])
    dataset['MARITAL_STATUS']=encoder.fit_transform(dataset['MARITAL_STATUS'])
    dataset['AGE']=encoder.fit_transform(dataset['AGE'])

In [5]:
#train_data.corrwith(train_data.NEXT_MONTH_DEFAULT)

In [6]:
# train_data['PAYMENT_DELAY_BAND']=pd.qcut(train_data['PAYMENT_DELAY'], 5)
train_data['REMAINING_DUE_BAND']=pd.qcut(train_data['REMAINING_DUE'], 5)

In [7]:
train_data[['REMAINING_DUE_BAND', 'NEXT_MONTH_DEFAULT']].groupby(['REMAINING_DUE_BAND'], as_index=False).mean().sort_values(by='REMAINING_DUE_BAND', ascending=True)

       REMAINING_DUE_BAND  NEXT_MONTH_DEFAULT
0  (-6171197.001, 2913.0]            0.208290
1      (2913.0, 117224.4]            0.200667
2    (117224.4, 375935.2]            0.256875
3    (375935.2, 919011.6]            0.230417
4   (919011.6, 9508146.0]            0.214167

In [8]:
for dataset in combine:    
#     dataset.loc[ dataset['PAYMENT_DELAY'] <= -6, 'PAYMENT_DELAY'] = 0
#     dataset.loc[(dataset['PAYMENT_DELAY'] > -6) & (dataset['PAYMENT_DELAY'] <= -1), 'PAYMENT_DELAY'] = 1
#     dataset.loc[(dataset['PAYMENT_DELAY'] > -1) & (dataset['PAYMENT_DELAY'] <= 0), 'PAYMENT_DELAY'] = 2
#     dataset.loc[(dataset['PAYMENT_DELAY'] > 0) & (dataset['PAYMENT_DELAY'] <= 2), 'PAYMENT_DELAY'] = 3
#     dataset.loc[ dataset['PAYMENT_DELAY'] > 2, 'PAYMENT_DELAY']=4
    
    dataset.loc[ dataset['REMAINING_DUE'] <= 2913, 'REMAINING_DUE'] = 0
    dataset.loc[(dataset['REMAINING_DUE'] > 2913) & (dataset['REMAINING_DUE'] <= 117224), 'REMAINING_DUE'] = 1
    dataset.loc[(dataset['REMAINING_DUE'] > 117224) & (dataset['REMAINING_DUE'] <= 375935), 'REMAINING_DUE'] = 2
    dataset.loc[(dataset['REMAINING_DUE'] > 375935) & (dataset['REMAINING_DUE'] <= 919011), 'REMAINING_DUE'] = 3
    dataset.loc[ dataset['REMAINING_DUE'] > 919011, 'REMAINING_DUE']=4

In [9]:
#train_data.loc[ train_data['PAYMENT_DELAY'] <= -6, 'PAYMENT_DELAY']

In [10]:
train_data.head(50)

,Client_ID,Balance_Limit_V1,Gender,EDUCATION_STATUS,MARITAL_STATUS,AGE,PAY_JULY,PAY_AUG,PAY_SEP,PAY_OCT,...,PAID_AMT_SEP,PAID_AMT_OCT,PAID_AMT_NOV,PAID_AMT_DEC,NEXT_MONTH_DEFAULT,PAYMENT_DELAY,DUE_6_MONTHS,PAID_6_MONTHS,REMAINING_DUE,REMAINING_DUE_BAND
0,A2,1,1,0,0,0,-1,-1,-1,-1,...,39418,162772,0,538165,0,-6,200849,749796,0,"(-6171197.001, 2913.0]"
1,A3,1,0,1,0,2,0,-1,-1,-1,...,43530,80811,942,33666,0,-4,781048,356967,3,"(375935.2, 919011.6]"
2,A4,0,0,1,1,0,4,3,2,2,...,0,0,0,0,1,7,48240,0,1,"(2913.0, 117224.4]"
3,A5,0,0,0,1,0,2,0,0,0,...,3696,4620,4049,3918,1,2,578900,24028,3,"(375935.2, 919011.6]"
4,A6,1,0,0,0,0,2,2,0,0,...,16170,17325,16401,17325,0,4,2613331,88011,4,"(919011.6, 9508146.0]"
5,A8,0,0,0,1,0,0,0,0,0,...,12728,13398,13860,12705,0,0,2161661,87803,4,"(919011.6, 9508146.0]"
6,A9,0,1,2,1,2,1,2,2,2,...,0,1386,1155,0,0,11,65054,6237,1,"(2913.0, 117224.4]"
7,A11,0,0,1,0,2,2,2,2,0,...,1984,4844,0,2523,1,8,334478,14872,2,"(117224.4, 375935.2]"
8,A12,0,1,2,0,0,0,0,0,2,...,0,6930,11550,11550,0,2,1265921,56595,4,"(919011.6, 9508146.0]"
9,A13,1,1,2,1,1,0,0,2,0,...,8184,8547,8194,7311,0,2,1493760,58801,4,"(919011.6, 9508146.0]"
10,A15,0,1,0,0,2,-2,-2,-2,-2,...,1855,2116,2747,866,0,-12,12005,11522,0,"(-6171197.001, 2913.0]"
11,A16,0,0,0,0,0,-1,-1,-1,-1,...,35017,32522,48228,61714,0,-6,281986,326684,0,"(-6171197.001, 2913.0]"
12,A17,1,0,0,1,0,-2,-2,-1,0,...,0,2042,22924,25003,1,-7,255910,155499,1,"(2913.0, 117224.4]"
13,A18,0,0,0,0,2,0,0,0,0,...,1617,1626,2003,1379,0,0,263074,13349,2,"(117224.4, 375935.2]"
14,A19,0,0,1,0,0,0,0,0,-2,...,0,0,0,0,1,-6,139356,4084,2,"(117224.4, 375935.2]"
15,A21,0,1,1,0,1,2,0,0,0,...,4620,4620,6930,6930,1,2,892719,34650,3,"(375935.2, 919011.6]"
16,A22,0,0,1,1,0,2,2,2,0,...,3465,2772,4620,6930,1,6,310035,28182,2,"(117224.4, 375935.2]"
17,A24,0,1,2,0,2,0,0,0,0,...,2079,4620,0,0,0,3,151617,14786,2,"(117224.4, 375935.2]"
18,A27,0,0,2,1,1,-2,-2,-2,-2,...,0,0,0,44835,0,-12,0,44835,0,"(-6171197.001, 2913.0]"
19,A29,0,1,2,1,0,0,0,0,0,...,4620,6930,4620,3465,0,0,851077,32340,3,"(375935.2, 919011.6]"
20,A31,0,1,2,0,0,-1,0,0,0,...,3465,3465,3234,3696,0,-1,411003,92400,2,"(117224.4, 375935.2]"
21,A32,0,0,0,1,0,-1,-1,-1,-1,...,6329,10686,1853,0,0,-6,222315,148279,1,"(2913.0, 117224.4]"
22,A33,0,0,2,0,2,0,0,2,0,...,2310,2310,2310,18711,0,2,148374,32571,1,"(2913.0, 117224.4]"
23,A34,0,0,1,0,2,-2,-2,-2,-2,...,5,4717,0,0,0,-10,9669,7725,0,"(-6171197.001, 2913.0]"
24,A35,0,1,2,0,1,-1,4,3,2,...,746,0,0,2744,0,13,14854,3490,1,"(2913.0, 117224.4]"
25,A36,0,0,2,1,0,-2,-2,-2,-2,...,4897,6637,0,2010,0,-12,275022,264015,1,"(2913.0, 117224.4]"
26,A37,1,0,0,1,0,1,-1,-1,-2,...,0,0,0,0,0,-7,566,566,0,"(-6171197.001, 2913.0]"
27,A38,1,0,0,0,0,-1,-1,-1,-1,...,0,1830,157299,3927,0,-6,161874,164886,0,"(-6171197.001, 2913.0]"
28,A39,1,0,0,0,0,0,0,0,0,...,25410,25410,27720,21483,0,0,4151392,160351,4,"(919011.6, 9508146.0]"
29,A40,1,0,2,1,0,-2,-1,-1,-2,...,17293,10169,8422,13996,0,-10,87624,96956,0,"(-6171197.001, 2913.0]"
30,A41,0,0,0,0,0,0,0,0,0,...,34650,13860,16170,11550,0,0,2191904,120476,4,"(919011.6, 9508146.0]"
31,A42,0,0,0,1,0,2,0,0,0,...,6468,3465,0,3465,1,6,458498,22638,3,"(375935.2, 919011.6]"
32,A43,0,0,2,0,2,0,0,0,0,...,1499,1920,1312,522,0,0,287905,11427,2,"(117224.4, 375935.2]"
33,A45,0,1,0,1,0,2,0,0,2,...,0,8563,4389,0,1,8,634014,25657,3,"(375935.2, 919011.6]"
34,A46,1,0,0,1,1,-2,-2,-2,-2,...,0,108540,2037,0,0,-12,349932,339639,1,"(2913.0, 117224.4]"
35,A47,0,0,0,1,0,-1,-1,-1,-1,...,753,753,753,753,0,-6,4518,4518,0,"(-6171197.001, 2913.0]"
36,A48,1,1,2,1,0,1,2,2,2,...,27720,27720,2259,54285,0,11,4169365,163266,4,"(919011.6, 9508146.0]"
37,A49,1,1,0,0,2,-1,-1,-2,-2,...,0,5881,0,0,0,-8,22915,5881,1,"(2913.0, 117224.4]"
38,A52,0,0,2,0,2,0,0,0,0,...,17856,155454,3095,2957,0,-1,386843,215929,2,"(117224.4, 375935.2]"
39,A53,1,0,2,0,2,1,2,0,0,...,33289,175560,34650,30030,0,3,5028614,306825,4,"(919011.6, 9508146.0]"
40,A54,1,0,0,1,0,1,-2,-2,-2,...,832,732,14442,18,0,-8,-33,17688,0,"(-6171197.001, 2913.0]"
41,A55,0,0,2,1,0,-2,-2,-2,-2,...,1802,0,0,0,0,-12,3604,2703,0,"(-6171197.001, 2913.0]"
42,A56,1,0,0,1,1,1,-1,-1,-1,...,0,0,2786,0,1,-5,16014,16014,0,"(-6171197.001, 2913.0]"
43,A57,1,1,0,0,0,-2,-2,-2,-2,...,0,0,0,0,0,-12,832,0,0,"(-6171197.001, 2913.0]"
44,A58,0,0,1,0,0,-2,-2,-2,-2,...,95539,21113,0,0,0,-12,353180,355425,0,"(-6171197.001, 2913.0]"
45,A59,0,0,2,0,1,0,0,0,0,...,3465,3465,4620,5315,0,0,410240,24026,3,"(375935.2, 919011.6]"
46,A60,0,0,2,1,0,-1,-1,-1,-1,...,12497,22107,3465,0,0,-6,116165,105451,1,"(2913.0, 117224.4]"
47,A61,0,0,0,0,2,0,0,0,-1,...,10150,462,462,462,0,-3,153802,22116,2,"(117224.4, 375935.2]"
48,A62,0,1,1,1,1,0,0,0,0,...,10709,11088,11204,11550,1,0,1917848,70234,4,"(919011.6, 9508146.0]"
49,A64,0,0,2,0,2,0,0,0,0,...,3465,1931,2772,4620,0,0,160964,18191,2,"(117224.4, 375935.2]"

In [11]:
X_train = train_data.drop(columns =['Client_ID','NEXT_MONTH_DEFAULT','REMAINING_DUE_BAND','PAY_JULY', 'PAY_AUG', 'PAY_SEP', 'PAY_OCT',
       'PAY_NOV', 'PAY_DEC', 'DUE_AMT_JULY', 'DUE_AMT_AUG', 'DUE_AMT_SEP','DUE_AMT_OCT', 'DUE_AMT_NOV', 'DUE_AMT_DEC', 
        'PAID_AMT_JULY','PAID_AMT_AUG', 'PAID_AMT_SEP', 'PAID_AMT_OCT', 'PAID_AMT_NOV','PAID_AMT_DEC'
                                   ,'DUE_6_MONTHS','PAID_6_MONTHS'])
y_train = train_data['NEXT_MONTH_DEFAULT']
X_test = test_data.drop(columns =['Client_ID','PAY_JULY','PAY_AUG','PAY_SEP','PAY_OCT',
       'PAY_NOV', 'PAY_DEC', 'DUE_AMT_JULY', 'DUE_AMT_AUG', 'DUE_AMT_SEP',
       'DUE_AMT_OCT', 'DUE_AMT_NOV', 'DUE_AMT_DEC', 'PAID_AMT_JULY','PAID_AMT_AUG', 
                                  'PAID_AMT_SEP', 'PAID_AMT_OCT', 'PAID_AMT_NOV','PAID_AMT_DEC','DUE_6_MONTHS','PAID_6_MONTHS'])
X_train.shape

(24000, 7)

Using Random Forest Classifier

In [12]:
from math import sqrt
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100, min_samples_leaf=4,max_depth=10)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=4, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [14]:
predictions = rfc.predict(X_test)

In [15]:
randomf_output = pd.DataFrame(test_data['Client_ID']) 
randomf_output['NEXT_MONTH_DEFAULT']= predictions
randomf_output.to_csv('random_forest.csv', encoding='utf-8', index=False)

Using RandomizedSearchCV approach

In [16]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [90,100,150,200]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [10,20,30,40]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

{'n_estimators': [90, 100, 150, 200], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [17]:
from sklearn.ensemble import RandomForestClassifier

# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 10, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:   18.7s finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
          estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
          fit_params=None, iid='warn', n_iter=10, n_jobs=-1,
          param_distributions={'n_estimators': [90, 100, 150, 200], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring=None, verbose=2)

In [18]:
rf_random.best_params_

{'n_estimators': 100,
 'min_samples_split': 5,
 'min_samples_leaf': 4,
 'max_features': 'sqrt',
 'max_depth': 10,
 'bootstrap': True}

In [19]:
best_randomized = rf_random.best_estimator_
predictions = best_randomized.predict(X_test)

In [20]:
randomf_output = pd.DataFrame(test_data['Client_ID']) 
randomf_output['NEXT_MONTH_DEFAULT']= predictions
randomf_output.to_csv('best_randomized.csv', encoding='utf-8', index=False)

Using Grid Search

In [21]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [90,100, 200, 300]
}
# Create a based model
rf = RandomForestClassifier()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [130]:
# Fit the grid search to the data
grid_search.fit(X_train, y_train)
grid_search.best_params_

Fitting 3 folds for each of 288 candidates, totalling 864 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   23.6s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed:  5.2min
[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed: 10.0min
[Parallel(n_jobs=-1)]: Done 864 out of 864 | elapsed: 14.3min finished

{'bootstrap': True,
 'max_depth': 90,
 'max_features': 2,
 'min_samples_leaf': 5,
 'min_samples_split': 8,
 'n_estimators': 100}

In [132]:
best_grid = grid_search.best_estimator_
predictions = best_grid.predict(X_test)

In [133]:
randomf_output = pd.DataFrame(test_data['Client_ID']) 
randomf_output['NEXT_MONTH_DEFAULT']= predictions
randomf_output.to_csv('grid.csv', encoding='utf-8', index=False)